<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="icon" type="image/png" href="images/favicon.ico">
</head>

<body class="redbackground">
<header class="nav-down">
  <ul><b>
    <li><a class="otherpage" href="tempindex.html">about</a></li>
    <!-- <li><a href="">current issues</a></li> --> <!-- drop down -->
    <!-- <li><a href="">archives</a></li> -->
    <li><a class="otherpage" href="support.html">support</a></li>
    <li><a class="otherpage" href="contact.html">contact</a></li>
  </ul></b>
</header>

<h1 id="site-name">
  <a>invert<br>
  journal</a>
</h1>

<div class="main2">
<h1>Oops!</h1>
<p>Please ensure you have completed all fields before submitting the form.</p>
<p>Also ensure that there is only one email address.</p>
<p><a href="JavaScript:history.go(-1);">Back</a></p>
</div>

<footer>
    <b><a href="https://twitter.com/InvertJournal">Twitter</a><br>
      <a href="https://www.facebook.com/invertjournal1/">Facebook</a></b>
</footer>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  

    <script  src="js/index.js"></script>


</body>

</html>
