<div id="site-name2">
    <a
        >invert<br />
        journal</a
    >
</div>

<div class="bottomegg"><img src="./assets/images/egg1.png"/></div>

<div class="footer-border">
    <footer>
        <a target="_blank" href="https://twitter.com/InvertJournal">Twitter</a><br />
        <a target="_blank" href="https://www.facebook.com/invertjournal1/">Facebook</a>
    </footer>
</div>

<!-- <script src="/js/lib/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    const textFields = document.querySelectorAll(".description, .arena-content")
    textFields.forEach(element => {
        element.innerHTML = marked.parse(element.innerHTML)
    })
    console.log(textFields)
</script> -->
