<title>{{#config.details.title}}{{config.details.title}}{{/config.details.title}}</title>

<meta charset="utf-8" />
<meta name="description" content="{{config.details.description}}" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta
	name="description"
	content="Invert is a journal of contemporary Marxist thought focused on the abolition of gender and the liberation of feminised subjects."
/>
<meta property="og:title" content="Invert Journal" />
<meta
	property="og:description"
	content="Invert is a journal of contemporary Marxist thought focused on the abolition of gender and the liberation of feminised subjects."
/>
<meta property="og:image" content="https://invertjournal.org.uk/assets/images/meta.png" />
<meta name="twitter:title" content="Invert Journal" />
<meta
	name="twitter:description"
	content="Invert is a journal of contemporary Marxist thought focused on the abolition of gender and the liberation of feminised subjects."
/>
<meta name="twitter:image" content="https://invertjournal.org.uk/assets/images/meta.png" />
<meta name="twitter:card" content="summary_large_image" />

<link rel="icon" type="image/png" sizes="192x192" href="./assets/images/fav/android-icon-192x192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="./assets/images/fav/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="./assets/images/fav/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="./assets/images/fav/favicon-16x16.png" />
<link rel="icon" type="image/png" href="./assets/images/fav/favicon.ico" />

<script src="/js/lib/jquery-3.4.1.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script async src="/js/ours/invert.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.min.js"></script>

<link rel="stylesheet" href="/stylesheets/css/mc.css" />
<link rel="stylesheet" href="/stylesheets/css/invert.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://use.typekit.net/edd2gnf.css" />
