<select id="drop-down" class="access">
	<option value="journal" selected>Journal</option>
	<option value="friendly">Friendly</option>
</select>

<div class="support-button-buy"
	><div class="buy-button"><a target="_blank" href="https://invertjournal.bigcartel.com/product/invert-journal-issue-one">Buy</a></div></div
>

<header class="nav-down access">
	<li><a class="access" href="/">about</a></li>
	<li><a class="access" href="/articles">articles</a></li>
	<li><a class="access" href="/support">support</a></li>
	<li><a class="access" href="/contact">contact</a></li>
</header>

<h1 id="site-name">
	<a
		>invert<br />
		journal</a
	>
</h1>

<script>
	function createCookie(name, value, days) {
		if (days) {
			var date = new Date()
			date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000)
			var expires = "; expires=" + date.toGMTString()
		} else var expires = ""
		document.cookie = name + "=" + value + expires + "; path=/"
	}

	function readCookie(name) {
		var nameEQ = name + "="
		var ca = document.cookie.split(";")
		for (var i = 0; i < ca.length; i++) {
			var c = ca[i]
			while (c.charAt(0) == " ") c = c.substring(1, c.length)
			if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length)
		}
		return null
	}

	function eraseCookie(name) {
		createCookie(name, "", -1)
	}

	$("#drop-down").change(function() {
		const selected = $(this).val()
		console.log(`selected is ${selected}`)

		if (selected === "friendly") {
			$(".access").addClass("accessibility")
			$(".access-no-red").addClass("accessibility-no-red")
			$(".background").removeClass("red")
			createCookie("pre", "prelight", 1000)
		} else {
			$(".access").removeClass("accessibility")
			$(".access-no-red").removeClass("accessibility-no-red")
			$(".background").addClass("red")
			eraseCookie("pre", "prelight")
		}
	})

	if (readCookie("pre")) {
		$(".access").addClass("accessibility")
		$(".access-no-red").addClass("accessibility-no-red")
		$(".background").removeClass("red")
		$("#drop-down")
			.val("friendly")
			.selected()
	}
</script>
