<!DOCTYPE html>
{{> components/ascii }}
<html lang="en">
    <head>
        {{> components/head }}
    </head>

    <body class="access-new">
        <div class="topegg"><img src="././assets/images/egg2.png"/></div>
        {{> components/nav }}
        <div class="main">
            <div class="intro articles">
                {{# arena }}
                <div class="arena-block" id="section_{{ id }}">
                    <div class="arena-block-title" id="{{ truncTitle }}">
                        <h2 class="access">{{ title }}</h2>
                        <div class="more" id="more-{{ id }}"><u>Read:</u></div>
                    </div>
                    <div class="arena-block-metadata access">
                        {{# description_html }}
                        <span class="description">{{{ description_html }}}</span>
                        {{/ description_html }} {{# content_html }}
                        <span class="arena-content">{{{ content_html }}}</span>
                        {{/ content_html }} {{# metadata }}
                        <span class="description" id="metadata_{{id}}"
                            ><br />
                            <mark-down breaks>{{{ description }}}</mark-down>
                        </span>
                        {{/ metadata }}
                        <a href="?view=articles&post={{{ id }}}#{{{truncTitle}}}" class="datestamp access">Posted on {{{connected_at}}}</a>
                    </div>

                    {{# embed }}
                    <div id="embed-block_{{ id }}" class="embed-block"><br />{{{ html }}} </div>
                    {{/ embed }} {{^ embed }} {{# source }} {{# url }}<br />
                    <a target="_blank" href="{{ url }}">{{ url }}</a>
                    {{/ url }} {{# image }}<br />
                    <div class="url-block">
                        <img id="url-block-image_{{ id }}" class="url-block-image" src="{{# display }}{{{ url }}}{{/ display }}" />
                    </div>
                    {{/ image }} {{/ source }} {{^ source }} {{# attachment }}<br />
                    <div id="video-block_{{ id }}" class="video-block">
                        <video id="video-block-attachment_{{ id }}" class="video-block-attachment" loop controls playsinline autoplay muted preload="auto">
                            <source src="{{{ static_url }}}{{ file_name }}" type="{{{ content_type }}}" />
                            <!-- fix this -->
                        </video>
                    </div>
                    {{/ attachment }} {{# image }}<br />
                    <div class="image-block">
                        <img id="image-block-image_{{ id }}" class="image-block-image" src="{{# display }}{{{ url }}}{{/ display }}" />
                    </div>
                    {{/ image }} {{/ source }} {{/ embed }} </div
                ><br />
                {{/ arena }}
            </div>
        </div>
        <div class="bottomegg"><img src="./assets/images/egg1.png"/></div>
        {{> components/body-end }}
    </body>
</html>

<script>
    //articles: read more
    // $(document).ready(function() {
    //     $(".more-{{articles.post}}").click(function() {
    //         $(this)
    //             .parent()
    //             .parent()
    //             .toggleClass("peek")
    //         $(this).toggleClass("reverse")
    //         toggleClass("ellipsis")
    //     })
    // })

    {{#articles}}
        $(window).on("load", function() {
            $("#more-{{articles.post}}")
                .toggleClass("reverse")
                .parent()
                .parent()
                .toggleClass("peek")
            })
    {{/articles}}
    $(document).ready(function() {
        $(".more").click(function() {
            $(this)
                .parent()
                .parent()
                .toggleClass("peek")
                $(this).toggleClass("reverse")
                const id = this.id.slice(5)
                const trunc = $(this).parent().attr("id");
                window.history.pushState("object or string", "Title", `?view=articles&post=${id}#${trunc}`);
        })
    })
</script>
