<!DOCTYPE html>
{{> components/ascii }}
<html lang="en">
	<head>
		{{> components/head }}
	</head>

	<body class="background red access-no-red">
		{{> components/nav }}
		<div class="main2 access">
			Email: <h2>contact [at] invertjournal [dot] org [dot] uk </h2><br />
			Twitter: <h2><a target="_blank" href="https://twitter.com/InvertJournal">@InvertJournal</a></h2
			><br />
			Facebook:
			<h2><a target="_blank" href="https://www.facebook.com/invertjournal1/">@invertjournal1</a> </h2><br /><br />
			<div class="mail-container">
				<form method="post" action="contact/send_mail.php">
					<div class="support-button">
						<label
							>Name <span class="asterisk">*</span>
							<input type="text" name="first_name" required />
						</label>
					</div>
					<div class="support-button">
						<label
							>Email address <span class="asterisk">*</span>
							<input type="email" name="email_address" />
						</label>
					</div>
					<div class="support-button">
						<label
							>Comments
							<textarea name="comments" maxlength="500"></textarea>
						</label>
					</div>
					<button>Send</button>
				</form>
			</div>
		</div>
		{{> components/body-end }}
	</body>
</html>
