<!DOCTYPE html>
{{> components/ascii }}
<html lang="en">
    <head>
        {{> components/head }}
    </head>

    <body class="access">
        <div class="topegg"><img src="././assets/images/egg2.png"/></div>
        {{> components/nav }}
        <div class="main">
            <div class="intro">
                <div class="about-left access">
                    <hr class="red-line" /><p> {{# about }} {{# content_html }} {{{ content_html }}} {{/ content_html }} {{/ about }} </p
                    ><hr class="red-line" />
                </div>

                <div class="about-right">
                    <div class="about-right-image"><img src="./assets/images/invertstocking2.png"/></div>
                    <small class="access">Artwork by Jo Olney</small>
                </div>
            </div>
        </div>
        <div class="bottomegg"><img src="./assets/images/egg1.png"/></div>
        {{> components/body-end }}
    </body>
</html>
