<!DOCTYPE html>
{{> components/ascii }}
<html lang="en">
	<head>
		{{> components/head }}
	</head>
	<body>
		{{> components/loading }} {{> components/nav }}

		<div class="oh-christ-i-just-wanted-you-to-like-my-instagram-posts-and-then-i-became-greedy-i-wanted-you-to-lov">
			<div class="when-the-clouds-have-all-departed-youll-be-right-here-with-me">
				{{ config.details.body }}
				<a href="https://github.com/mwvd/im-sorry-i-have-2-leave-the-lobby-but-i-will-never-forget-you" target="_blank" class="gh-link">GitHub</a>
			</div>
		</div>

		{{> arena }}
		{{> components/body-end }}
	</body>
</html>
