<!DOCTYPE html>
{{> components/ascii }}
<html lang="en">
    <head>
        {{> components/head }}
    </head>

    <body class="access-new">
        <div class="topegg"><img src="././assets/images/egg2.png"/></div>
        {{> components/nav }}
        <div class="main">
            <div class="intro">
                <div class="about access">
                <hr class="style-one"><p>
                    {{# about }} 
                    <!-- {{# description_html }}
                    {{{ description_html }}}
                    {{/ description_html }}  -->
                    {{# content_html }}
                      {{{ content_html }}}
                    {{/ content_html }} 
                    {{/ about }}
                </p><hr class="style-one">
            </div>

            <div class="abt">
                <div class="abtimg"><img src="./assets/images/invertstocking2.png"/></div>
                <small class="access">Artwork by Jo Olney</small>
            </div>

            </div>
                <div class="opencall access">
                    <div class="subheading"><p>CALL FOR PAPERS</p></div><br>

                    <div class="intro no-idea"><p>Undoubtedly, the categories of gender and sexuality have been integral to the emergence, development and reproduction of capitalism, and so it follows that they must also be integral to our struggle towards its abolition. It is through these categories that our immiseration is produced: they shape the terrain of our antagonisms, and our revolutionary horizons.<br><br>

                    Trans. Queer. Feminist. Not qualifiers of a broader Marxism, then, delimiting a set of marginal concerns, but perspectives from which a dialectical critique of the totality can and must be launched. With these considerations in mind, we invite contributions to the inaugural issue of Invert, a journal of contemporary Marxist thought focused on the abolition of gender and the liberation of feminised subjects. “Invert” signals both our perspective and our dialectical method. We are interested in synthesising the emerging queer and trans strains of Marxism with the bountiful tradition of Marxist Feminism towards a Marxism of the feminised.<br><br>

                    Topics may include, but are not limited to:<br><br>
                    <li>Relationship between capitalism and compulsory heterosexuality</li>
                    <li>Gender and value form theory</li>
                    <li>Forms of feminised labour</li>
                    <li>Critiques of transphobic feminism</li>
                    <li>Gender, sexuality and the carceral state</li>
                    <li>Homonormativity</li>
                    <li>Homo and femo nationalisms</li>
                    <li>Bodily autonomy</li>
                    <li>Transsexual materialism</li>
                    <li>Intersections of feminisation and racialisation</li>
                    <li>Abolition of the family</li>
                    <li>Marxist engagements with queer theory</li>
                    <li>Communisation and gender abolition</li>
                    <li>Access to healthcare</li>
                    <li>Queer and trans perspectives on Marxist Feminism</li>
                    <li>Revolutionary strategy</li><br>

                    We welcome abstracts of 200-500 words. We also welcome submissions of short poems. 
                    Essay contributions will be expected to adhere to an approximate limit of 5000-6000 words.<br>
                    Submissions or questions should be sent to:<br><b>contact[at]invertjournal[dot]org[dot]uk</b><br>by January 31<sup>st</sup> 2019</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomegg"><img src="./assets/images/egg1.png"/></div>
        {{> components/body-end }}
    </body>
</html>
