<!DOCTYPE html>
{{> components/ascii }}
<html lang="en">
    <head>
        {{> components/head }}
    </head>

    <body class="background red access-no-red">
        {{> components/nav }}
        <div class="main2 access">
            <p
                >Links to donations and shop are still to come!<br />
                Don't hesitate to <a href="/contact">contact</a> us if you would like to get involved. </p
            ><br />

            <div class="support-block">
                <h3>Buy the journal</h3>
                <div class="support-button"
                    ><div class="buy-button"><a target="_blank" href="https://invertjournal.bigcartel.com/product/invert-journal-issue-one">Buy</a></div>
                </div>
            </div>

            <div class="support-block">
                <h3>Donate to our writers, editors and designers</h3>
                <div class="support-button"><input type="submit" value="Donate" name="donate" id="mc-embedded-donate"/></div>
            </div>

            <div class="support-block">
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form
                        action="https://invertjournal.us19.list-manage.com/subscribe/post?u=15b5f5a18cb32b6f331169fdd&amp;id=e57c693a8a"
                        method="post"
                        id="mc-embedded-subscribe-form"
                        name="mc-embedded-subscribe-form"
                        class="validate"
                        target="_blank"
                        novalidate
                    >
                        <div id="mc_embed_signup_scroll">
                            <h3>Subscribe to our mailing list</h3>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email address <span class="asterisk">*</span> </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" />
                            </div>
                            <div id="mce-responses" class="support-button">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"
                                ><input type="text" name="b_15b5f5a18cb32b6f331169fdd_e57c693a8a" tabindex="-1" value=""
                            /></div>
                            <div class="support-button"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"/></div>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
            </div>
        </div>
        {{> components/body-end }}
    </body>
</html>
