html {
	background-color: #afafaf;
	/*background-color: pink;*/
}

@font-face {
	font-family: "candy";
	src: url("../../fonts/CandyPop-demo-font.woff2") format("woff2"), url("../../fonts/CandyPop-demo-font.woff") format("woff");
}

@font-face {
	font-family: "Kanisah";
	src: url("../../fonts/Kanisah.woff2") format("woff2"), url("../../fonts/Kanisah.woff") format("woff");
}

@font-face {
	font-family: "kerry";
	src: url("../../fonts/RingofKerry.woff2") format("woff2"), url("../../fonts/RingofKerry.woff") format("woff");
}

@font-face {
	font-family: "yellow";
	src: url("../../fonts/yellow.woff2") format("woff2"), url("../../fonts/yellow.woff") format("woff");
}

body {
	/*font-family: arial;*/
}

a {
	text-decoration: none;
	color: red;
	font-family: "yellow";
}

.header {
	font-family: "candy";
	color: blue;
}

.bio {
	font-family: "candy";
	color: red;
	font-size: 1.1em;
}

.inline {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
}

.title,
.header,
.ig {
	margin-top: 10px;
}

.title {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	line-height: 1em;
	margin-bottom: 10px;
	text-decoration: bold;
}

.title-toggle {
	cursor: pointer;
}

.show-calendar {
	display: none;
	text-align: left;
	font-size: initial;
}

/*.gem {
	position: fixed;
	left: 100px;
	top: 0px;
	transform: rotate(-20deg);
}*/

.gem img {
	width: 100px;
}

.socials {
	position: fixed;
	right: 100px;
	top: 100px;
	transform: rotate(20deg);
	z-index: 9;
}

.socials a {
	color: HotPink;
	font-size: 1.5em;
}

i {
	margin: 10px;
}

.speech-image {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	position: relative;
}

.cover-photo img {
	border: solid 3px HotPink;
	margin: 20px;
}

.subtitle {
	position: absolute;
	top: 175px;
	width: 100%;
	margin-left: 160px;
}

.sub-wrap {
	position: relative;
	height: 300px;
	width: 300px;
}

.speech-tone,
.speech-two {
	position: absolute;
}

.speech-two {
	margin-left: 530px;
	margin-top: 100px;
}

.emoji-one,
.emoji-two {
	position: absolute;
	z-index: 2;
	bottom: 10px;
	cursor: pointer;
	font-size: 2em;
}

.emoji-one {
	transform: rotateY(180deg);
	right: 0px;
}

.emoji-two {
	margin-top: 200px;
}

.bubble-one,
.bubble-two {
	position: absolute;
	border: solid 3px HotPink;
	background-color: #afafaf;
	color: red;
	padding: 5px;
	text-align: left;
	display: none;
	z-index: 1;
	bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
	width: 250px;
}

.maz {
	display: inline-block;
	font-family: "kerry";
}

.hava {
	display: inline-block;
	font-family: "Kanisah";
}

/*writing*/

.arena-block {
	margin: 20px;
	width: 80%;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis; /*make ellipsis work!*/
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	border-bottom: 2px solid red;
	padding-bottom: 10px;
}

.peek {
	overflow: visible;
	cursor: initial;
	display: block;
	border-bottom: none;
}

#arena-block-title {
	font-family: "yellow";
	font-size: 1em;
	font-style: bold;
	color: HotPink;
}

h2 {
	display: inline-block;
	margin: 0;
}

.description {
	font-style: italic;
	margin: 0;
}

.more {
	display: inline-block;
	font-family: inital;
	font-size: 1em;
	color: blue;
	margin-left: 10px;
	cursor: pointer;
}

.reverse {
	transform: rotateX(180deg);
}
