@font-face {
	font-family: syne;
	src: url(../../fonts/syne/Syne-Extra.otf);
}

@font-face {
	font-family: nhg;
	src: url(../../fonts/nhg55r.otf);
}

:root {
	--type1: syne;
	--type1-hover-color: #ecb7b8; /*pink*/

	/* invert theme */
	--type2-family: calluna, serif;
	--type2-style: normal;
	--type2-weight: 400;
	--type2-size: 1.15rem;

	/* friendly theme */
	--type3-hover-color: #de2b1f; /*red*/
	--type3-color: initial; /*black*/
	--type3-family: nhg;
	--little-font-size: 1rem;
	--mid-font-size: 1.1875rem;

	/* dark theme */
	--type1-hover-color-dark: #444;
	--type3-color-dark: #111;
	--type3-family-dark: arial;
	--type3-hover-color-dark: #444;
}

html {
	background-color: var(--type1-hover-color);
	height: 100%;
}

body {
	padding-top: 40px;
	margin: 0px;
	top: 0px;
	background-color: white;
	font-family: var(--type2-family);
	font-style: var(--type2-style);
	font-weight: var(--type2-weight);
	border: 30px solid var(--type1-hover-color);
	font-size: var(--type2-size);
	min-height: calc(100% - 155px); /* minus footer and border height */
	display: grid;
	grid-template-rows: 1fr auto;
}

ul,
menu,
dir {
	display: block;
	list-style-type: disc;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}

header {
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	left: 0px;
	text-align: center;
	top: 40px;
	position: fixed;
	transition: top 0.2s ease-in-out;
}

header li {
	display: inline-block;
	text-decoration: none;
	margin: 10px 20px 10px 20px;
	font-size: var(--mid-font-size);
}

header a {
	text-decoration: none;
	font-family: var(--type1);
}

header a:hover {
	color: var(--type1-hover-color);
}

a {
	text-decoration: none;
	color: var(--type3-color);
}

/* nav */

sup,
sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

.nav-up {
	top: -85px;
}

.support-button-buy {
	position: fixed;
	right: 40px;
	top: 40px;
	color: var(--type3-color);
	z-index: 9;
	font-size: var(--little-font-size);
}

/* themes toggle */

select {
	margin: 0px;
}

select#drop-down {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: fixed;
	width: initial;
	margin: 0px;
	top: 68px;
	left: 40px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 4px;
	background: transparent;
	font: inherit;
	color: var(--type3-color);
	font-size: var(--little-font-size);
	z-index: 9;
	cursor: pointer;
}

#drop-down input {
	opacity: 0;
}

.drop-down-label {
	position: fixed;
	width: initial;
	margin: 0px;
	top: 40px;
	left: 40px;
	background: transparent;
	font: inherit;
	color: var(--type3-color);
	font-size: var(--little-font-size);
	z-index: 9;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	height: 10px;
	width: 10px;
	border: 2px solid black;
	bottom: 4px;
	right: 30px;
	cursor: pointer;
	border-radius: 50%;
}

#drop-down input:checked ~ .checkmark {
	background-color: black;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

#drop-down input:checked ~ .checkmark:after {
	display: block;
}

/* themes */

body.accessibility-no-red,
body.accessibility {
	background-color: var(--type1-hover-color);
	color: var(--type3-color);
	font-family: var(--type3-family);
	text-decoration: none;
}

.accessibility p a {
	text-decoration: underline;
}

.accessibility div div .buy-button a:hover {
	color: var(--type3-color);
}

.accessibility,
.accessibility p,
.accessibility div,
.accessibility div span {
	color: var(--type3-color);
	font-family: var(--type3-family);
	text-decoration: none;
}

.accessibility a:hover,
.accessibility div div div a:hover,
.accessibility p a:hover,
.accessibility-no-red div p a:hover,
.accessibility-no-red div h2 a:hover,
.accessibility-no-red a:hover {
	color: var(--type3-hover-color);
}

body.dark-no-red,
body.dark {
	background-color: var(--type1-hover-color-dark);
	color: var(--type3-color-dark);
	border: 30px solid var(--type1-hover-color-dark);
	border-bottom: 70px solid var(--type1-hover-color-dark);
	font-family: var(--type3-family-dark);
	text-decoration: none;
}

.dark p a {
	text-decoration: underline;
}

.dark,
.dark p,
.dark div,
.dark div span {
	color: var(--type3-color-dark);
	font-family: var(--type3-family-dark);
	text-decoration: none;
}

.dark a:hover,
.dark div div div a:hover,
.dark p a:hover,
.dark-no-red div p a:hover,
.dark-no-red div h2 a:hover,
.dark-no-red a:hover {
	color: var(--type3-hover-color-dark);
}

/* index */

.main {
	margin: 100px 150px 70px 150px;
	z-index: 99999;
}

.main a:hover {
	color: var(--type3-hover-color);
}

.intro {
	margin-bottom: 30px;
	overflow: hidden;
	display: block;
	z-index: 2;
	position: relative;
}

.about-right {
	font-size: 2em;
	width: 35vw;
	float: right;
	text-align: justify;
	position: relative;
	font-weight: normal;
}

hr.red-line {
	background-color: var(--type3-hover-color);
	height: 2px;
	border: none;
	margin: 0px;
}

.about-left {
	margin-bottom: 30px;
	width: 30vw;
}

.about-left-image {
	position: relative;
}

.about-left-image img {
	width: 30vw;
	float: left;
	margin-right: 40px;
	position: relative;
}

small {
	font-size: var(--little-font-size);
}

.topegg {
	position: absolute;
}

.topegg img,
.bottomegg img {
	width: 500px;
	z-index: 0;
}

.topegg {
	float: right;
	right: 70px;
	margin-top: -40px; /* minus header height */
}

.bottomegg {
	position: relative;
}

.bottomegg img {
	position: absolute;
	left: 0;
	bottom: 0;
}

/* articles */

.main3 {
	margin-top: 100px;
	font-size: var(--type2-size);
	z-index: 1;
}

.main3 a {
	margin: 0px;
	text-decoration: underline;
}

.main3 a:hover {
	color: var(--type1-hover-color);
}

.articles {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: -40px;
}

.index {
	width: 90vw;
	text-align: center;
	margin-bottom: 60px;
}

/*.index .arena-block .description {
	line-height: 1.25em;
	height: 3em;
	overflow-y: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}*/

.index .arena-block .description p,
.index .arena-block .description blockquote,
.index .arena-block .description ol {
	display: none;
}

.index .arena-block .description h2 {
	margin: 0px 0px 10px 0px;
}

.articles h2 {
	width: 90%;
	margin: 20px 0px 10px 0px;
}

.blocks {
	display: block;
}

.media-arrow {
	display: inline-block;
}

.arena-block {
	width: 25vw;
	/*height: 35vh;*/
	margin: 20px;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.arena-block-metadata {
	padding-right: 20px;
	margin: 0px;
	height: 100%;
}

img.image-block-image {
	width: 100%;
	height: 100%;
}

.article-post {
	width: 60vw;
	margin-top: 20px;
	margin-bottom: 60px;
}

.article-post h2 {
	font-size: 2em;
}

.by {
	display: inline-block;
	vertical-align: top;
}

.description {
	display: inline-block;
	vertical-align: top;
	top: 0px;
	width: calc(25vw - 50px);
	font-style: italic;
	color: var(--type3-hover-color);
	font-weight: bold;
	margin-bottom: 10px;
}

.article-post .description {
	width: calc(100% - 25px);
	font-size: var(--type2-size);
	color: initial;
	font-style: initial;
	font-weight: initial;
}

.article-post .description h2 {
	width: calc(100% - 25px);
	font-size: var(--type2-size);
	color: var(--type3-hover-color);
	font-style: italic;
	margin: 0px 0px 10px 0px;
}

.description p {
	margin: 0px 0px 10px 0px;
}

.arena-content {
	line-height: 1.3em;
	z-index: 2;
}

.arena-content h1 {
	font-size: 1.5em;
}

.arena-content h2 {
	font-size: 1.4em;
}

.arena-content h2 {
	font-size: 1.3em;
}

.arena-content blockquote {
	margin-left: 20px;
	font-style: italic;
}

.article-post .description blockquote {
	margin-left: 20px;
	font-style: italic;
}

code {
	/* sup tag */
	vertical-align: baseline;
	position: relative;
	margin-left: 3px;
	top: -0.4em;
	font-size: 14px;
}

.more {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	vertical-align: top;
	margin-top: 5px;
	font-size: 1rem;
}

.more:hover {
	color: var(--type3-hover-color);
}

/* contact and support */

.main2 {
	margin: 100px 150px 70px 150px;
	margin-bottom: 0px;
	font-size: var(--type2-size);
	/*min-height: calc(80vh - 125px);*/
}

.main2 a {
	margin: 0px;
	text-decoration: underline;
}

.main2 a:hover {
	color: var(--type1-hover-color);
}

.main2 p {
	margin: 0px;
}

h2 {
	display: inline-block;
	margin: 0px;
	/*font-family: var(--type1);*/
	font-size: 1.2rem;
}

h3 {
	/*font-family: var(--type1);*/
	font-size: 1.2rem;
	margin-bottom: 10px;
	width: 75%;
}

body.background {
	background-image: none;
}

body.red {
	background-image: url("../../assets/images/invertbackground.png");
	background-size: cover;
}

/* mailchimp */

input {
	padding: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
	display: block;
	width: 50%;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 10px;
	resize: vertical;
	background: transparent;
}

button,
input[type="submit"] {
	border: 2px solid black;
	border-radius: 4px;
	background: transparent;
	font: inherit;
	color: black;
}

textarea,
input {
	border: 2px solid black;
	border-radius: 4px;
	background: transparent;
	font: inherit;
}

button,
input[type="submit"]:hover {
	cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
	background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s;
}

.buy-button {
	display: inline-block;
	padding: 5px;
	border: 2px solid black;
	border-radius: 4px;
	background: transparent;
	font: inherit;
}

.buy-button a {
	text-decoration: none;
}

.buy-button a:hover,
.buy-button.accessibility a:hover {
	color: black;
}

.social {
	font-family: var(--type1);
	display: inline-block;
}

.social a {
	text-decoration: none;
}

.support-block {
	margin-bottom: 50px;
}

.support-button {
	margin: 10px 0px 10px;
}

.mc-field-group {
	margin-bottom: 15px;
	margin-top: 0px;
}

footer {
	text-align: left;
	font-size: var(--mid-font-size);
	margin-left: 10px;
	text-transform: lowercase;
	font-family: var(--type1);
	position: absolute;
	margin-bottom: 15px;
	padding-top: 15px;
}

.footer-bottom {
	grid-row-start: 2;
	grid-row-end: 3;
}

#site-name {
	position: fixed;
	right: 40px;
	text-align: right;
	font-size: 2.2875rem;
	width: 250px;
	bottom: 25px;
	transition: 0.2s;
	font-family: var(--type1);
}

#site-name2 {
	font-size: var(--mid-font-size);
	font-family: var(--type1);
	position: absolute;
	bottom: 15px;
	margin-top: 10px;
	margin-right: 10px;
	right: 20px;
	text-align: right;
	opacity: 0;
}

h1#site-name {
	margin-bottom: 15px;
}

/* media */

@media (max-width: 1000px) {
	header {
		display: block;
		text-align: center;
		top: 30px;
	}

	header li {
		font-size: 1rem;
		display: block;
	}

	.drop-down-label,
	select#drop-down,
	.buy-button {
		font-size: 0.8rem;
	}

	select#drop-down {
		top: 63px;
	}

	.nav-up {
		top: -185px;
	}

	#site-name {
		z-index: 9;
	}

	.articles {
		display: block;
	}

	.main,
	.main2 {
		margin-right: 10vw;
		margin-left: 10vw;
		margin-top: 150px;
		margin-bottom: 30px;
	}

	.main3 {
		margin-top: 150px;
		margin-bottom: 0px;
	}

	.index {
		width: 100%;
	}

	.about-right,
	.about-left {
		width: initial;
	}

	.about-right {
		margin-bottom: 60px;
	}

	.about-left {
		margin-right: 20px;
		margin-bottom: 0px;
		font-size: 1em;
	}

	.about-left-image img {
		width: 50vw;
		margin-right: 20px;
		display: block;
	}

	.arena-block {
		width: 100%;
		height: 100%;
		margin-right: 0px;
		margin-left: 0px;
		margin-bottom: 40px;
	}

	.article-post,
	.arena-block {
		width: 75vw;
		height: 100%;
		margin-right: 5vw;
		margin-left: 5vw;
	}

	.article-post .description {
		width: 100%;
		font-size: var(--type2-size);
		color: initial;
		font-style: initial;
		font-weight: initial;
	}

	.arena-content blockquote {
		margin-inline-start: 30px;
		margin-inline-end: 0px;
	}

	.media-arrow {
		transform: rotate(90deg);
	}

	.arena-block-metadata {
		padding-right: 0px;
		padding-left: 0px;
		height: 100%;
	}

	input[type="text"],
	input[type="email"],
	select,
	textarea {
		width: 100%;
	}

	.bottomegg {
		position: fixed;
		bottom: 0px;
		left: 10px;
	}
}

@media (max-width: 650px) {
	.topegg img {
		width: 300px;
	}

	.topegg {
		margin-right: 10px;
		right: 10px;
		width: 300px;
	}

	.bottomegg img {
		width: 300px;
	}

	.bottomegg {
		margin-left: 10px;
		width: 300px;
	}
}
