.attachment-block-mp3 video,
.attachment-block-mp3 .pdf-block-attachment {
    // hide video and pdf elements if the attachment is an mp3
	display: none;
}

.attachment-block-mp4 audio,
.attachment-block-mpg4 audio,
.attachment-block-mp3 .pdf-block-attachment {
    // hide audio and pdf elements if the attachment is an mp4
	display: none;
}

.attachment-block-pdf audio,
.attachment-block-pdf video {
    // hide audio and video elements if the attachment is a pdf
    display: none;
}